[submodule "external/TempoApp"]
	path = external/TempoApp
	url = git@github.com:jokteur/TempoApp.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/rapidfuzz-cpp"]
	path = external/rapidfuzz-cpp
	url = https://github.com/maxbachmann/rapidfuzz-cpp.git
